<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content contact">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
{{!--           <span aria-hidden="true">&times;</span> --}}
        <h4 class="modal-title" id="myModalLabel">X</h4>
        </button>
        <h2 class="modal-title" id="myModalLabel">Get in touch ...</h2>
      </div>
      <div class="modal-body">
        <h4 class="modal-title" id="myModalLabel"><a href="mailto:av@anastasia.io" target="_top">av[at]anastasia.io</a></h4>
		<ul class="contact-icons">
		    <a class="nav-link" href="https://twitter.com/AVmakesthings"><img class="contact-icon" src="/img/icon_twitter.svg"/></a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="https://www.linkedin.com/in/anastasiavictor"><img class="contact-icon" src="/img/icon_linkedin.svg"/></a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="https://www.instagram.com/avmakesthings/?hl=en"><img class="contact-icon" src="/img/icon_instagram.svg"/></a>
		  </li>
		</ul>       
      </div>
{{!--       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> --}}
    </div>
  </div>
</div>
