<footer>
  <div class="container">
    <span class="text-muted small">&copy; 2016 Anastasia Victor. Built with <a href = "http://gulpjs.com/">Gulp</a>, <a href= "http://handlebarsjs.com/">Handlebars</a> &amp; <a href = "https://v4-alpha.getbootstrap.com/">Bootstrap 4</a></span>
  </div>
</footer>
