<header>
	<nav class="navbar navbar-dark bg-primary">
		<span class="navbar-text float-xs-right text-muted">

			<ul class="nav nav-inline">
			  <li class="nav-item">
			    <a class="nav-link active" href="projects.html">Work</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Contact</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">T</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">I</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">L</a>
			  </li>
			</ul>

		</span>
	</nav>
</header>
