<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Anastasia Victor -- 3D Interaction Design and Art Interfaces</title>
    <meta name="author" content="Anstasia Victor">
    <meta name="description" content="Interaction Design &#x26; Art Portfolio">
    <meta name="keywords" content="VR, AR, XR, Unity, Blender, interaction, 3D, virtual reality design, virtual reality designer, vr design, vr designer, user experience, game design, environment design, user interface, UI, UX, Design, art, artist, installation art, Architecture, San Francisco, Digital fabrication, Action sports, 3d printing, cnc, anastasia victor, visual design, freelance, portfoilo, berkeley, CED, interaction design, user experience design, user interface design, melbourne, australia, burning man temple, temple 2017,">
    <link rel="stylesheet" href="https://cdn.plyr.io/2.0.18/plyr.css">
	<link rel="stylesheet" href="css/style.min.css" type="text/css">
{{!--     favicon --}}
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
{{!--     og-tagging --}}
	<meta property="og:title" content="AV > 3D Interfaces, Art &#x26; Interaction Design" />
	<meta property="og:description" content= "Interested in 3D user interfaces, interaction design for XR or the way we interact with physical spaces? I've been exploring these themes through my art and interface design work. Some of it is online here >>>" />	
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://anastasia.io" />
	<meta property="og:image" content="http://anastasia.io/og_av-img.png" />
</head>
