<div class="project-4-col-image row">
        
    {{#items}}
        <div class="col-xs-12 col-sm-3">
            {{#if heading}}	    
                <h6>{{ heading }}</h6>
            {{/if}}        
                <img class="b-lazy" src="img/{{image}}"/>
            {{#if description}}	    
                <h5>{{ description }}</h5>
            {{/if}}
        </div>
    {{/items}}

</div>
