<div class="project-generic-2-col-image row">
 	<div class="col-xs-12 col-sm-6">
		<img class="b-lazy" src="img/{{image1}}"/>
	</div>
	<div class="col-xs-12 col-sm-6">
		<img class="b-lazy" src="img/{{image2}}"/>
	</div>
</div>
