<div class="project-generic-2-col-image row">
 	<div class="col-xs-6">
		<img src="http://placehold.it/1800x900"/>
	</div>
	<div class="col-xs-6">
		<img src="http://placehold.it/1800x900"/>
	</div>
</div>
