<div class="project-generic-list">
	<h5 class= "proj-text-heading">{{ heading }}</h5>
	<p>{{ description }}</p>
    <ul class="project-text-list">
        {{#each listItems}}
            <li class=""><h5>{{ text }}</h5></li>
        {{/each}}
    </ul>
</div>