<div class="project-design-goals">
	<h5 class= "proj-text-heading">{{heading}} </h5>
	<div class="row">

		{{#images}}
			<div class="col-xs-4">
				<img src="img/{{.}}"/>
			</div>
		{{/images}}

	</div>
	<div class="row">
		{{#sub-headings}}
			<h6 class= "col-xs-4">{{.}}</h6>
		{{/sub-headings}}

	</div>
	<div class="row">
		{{#descriptions}}
		 	<p class="col-xs-4">{{.}}</p>
		{{/descriptions}}
	</div>
</div>