<div class="triad small">
	<h5 class= "proj-text-heading"> {{heading}} </h5>
	<div class="row">

		{{#items}}
			<div class="col-xs-12 col-sm-4">
				  {{#if image}}<img src="img/{{image}}"/>{{/if}}
				<h6><b>{{sub-heading}}</b></h6>
				<p>{{description}}</p>
			</div>
		{{/items}}

	</div>
</div>