<div class="triad">
	<h5 class= "proj-text-heading"> {{heading}} </h5>
	<div class="row">

		{{#images}}
			<div class="col-xs-4">
				<img src="img/{{.}}"/>
			</div>
		{{/images}}

	</div>
	<div class="row">
		{{#sub-headings}}
			<h5 class= "small proj-text-subheading col-xs-4">{{.}}</h5>
		{{/sub-headings}}

	</div>
	<div class="row">
		{{#descriptions}}
		 	<p class="col-xs-4">{{.}}</p>
		{{/descriptions}}
	</div>
</div>