<div class="triad">
	<h3> {{heading}} </h3>
	<div class="row">

		{{#images}}
			<div class="col-xs-4">
				<img src="http://placehold.it/1800x900"/>
			</div>
		{{/images}}

	</div>
	<div class="row">
		{{#sub-headings}}
			<h3 class="col-xs-4">{{.}}</h3>
		{{/sub-headings}}

	</div>
	<div class="row">
		{{#descriptions}}
		 	<p class="col-xs-4">{{.}}</p>
		{{/descriptions}}
	</div>
</div>