/************************************
            VARIABLES
************************************/

$project-width: 900px;

// Bootstrap SASS overrides:

$body-bg: rgb(35, 31, 32);

$brand-primary: rgb(35, 31, 32);

$gray-lighter: rgb(45, 41, 42);

$body-color: #FFF;

// $link-color: #FFF;

// $font-family-base: Roboto, "Helvetica Neue", Open Sans, Arial, sans-serif !default;

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif !default;

$headings-font-weight: 100;

$highlight-color: #6699ff;

$link-color: orange;