/************************************
     CORE FILE TO IMPORT STYLES
           STYLE.SCSS
************************************/

@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/*** PARTIALS ***/
@import "partials/header.scss";
@import "partials/loader.scss";
@import "partials/footer.scss";


/* 
	FIXME: Some of these should be moved to 
	'partials' files if this ever gets unwieldy 
*/


a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    cursor: pointer;
}

.container {
	min-width: 480px;
}

.project-nav .category {
	padding-left: 24px;
}

.category {
	display: none;
}

.category.active{
	display: block;
}

.project {
	width: $project-width;
}

.landing-icon {
	margin-bottom: 24px;
}

.landing-icon img {
	margin-bottom: 24px;
}

.landing-icon.sm img {
	width: 64px;
}

.project-preview {
	width: 50%;
    float: left;
    display: inline-block;
}

.project-preview img {
	width: 95%;
}

.project-block {
	margin-bottom: 120px;
}

.project-block img {
	width: 100%;
}
